.userLocation {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.locationInput {
  display: flex;
  align-items: center;
  justify-content: center;
}